@import url('https://fonts.cdnfonts.com/css/general-sans');
@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

body{
    background-color: #F8FAFC;
    color: #212529;
    font-family: 'General Sans', sans-serif;
    transition: all linear 0.2s;
}

body.dark{
    background-color: #121212;
    color: #EAEAEA;
}

@layer utilities {
    .background-gradient {
        @apply bg-gradient-to-b from-[#0088B6] to-[#48CAE4];
    }
}
